*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 95vh;
    grid-template-columns: 0.8fr 0.2fr 2fr 2fr;
    grid-template-rows: 0.5fr 2fr 1.2fr 0.3fr;
    grid-template-areas: "header header header header"
                         "menu menu main main"
                         "menu menu post1 post2"
                         "footer footer footer footer";
    grid-gap: 0.2em;
    font-family: Tahoma;
    text-align: center;
    margin: 10px;
}

#header {
    background-color: #2f3130;
    grid-area: header;
    border-radius: 1em 1em 0em 0em;
}

.logo {
    text-align: left;
    margin: 20px 0px 0px 20px;
    color: rgb(250, 250, 233);
}


#menu {
    background-color: #ccee8d;
    grid-area: menu;
    border-radius: 0em 1em 1em 0em;
}

#main {
    background-color: #9d9f89;
    grid-area: main;
    border-radius: 1em 0em 0em 1em;
}

#post1 {
    background-color: #8bc59b;
    grid-area: post1;
    border-radius: 1em;
}

#post2 {
    background-color: #8bc59b;
    grid-area: post2;
    border-radius: 1em 0em 0em 1em;
}

#footer {
    background-color: #b2de93;
    grid-area: footer;
    border-radius: 0em 0em 1em 1em;
}